/* Responsive layout - when the screen is less than XXXpx wide, make the two columns stack on top of each other instead of next to each other */

@media (max-width: 1400px) {

    .content-container, .header, .navbar {
        width: 1000px;
    }

    .item-heading h2 {
        font-size: 1em;
    }

    .main-story {
        flex-direction: row;
        width: 520px;
        height: 260px;
        flex-grow: 2;
    }

    .major-story {
        flex-direction: column;
        width: 190px;
        height: 260px;
        flex-grow: 1;
    }

    .major-story img {
        width: auto;
        height: 120px;
        margin: 0;
        flex: 1;
        object-fit: cover;
    }

    .main-story img {
        width: 250px;
        height: auto;
        margin-left: auto;
        /* object-fit: cover; */
    }

.minor-story {
    width: 190px;
}

}

@media (max-width: 1000px) {
    .content-container, .header, .navbar {
        width: 600px;
    }

    .section {
        flex-direction: column;
        justify-content: center;
    }

    .item-heading h2 {
        font-size: .7em;
    }

.item-content p {
    display: flex;
    font-size: .3rem;
}

    .main-story {
        flex-direction: row;
        width: 350px;
        height: 200px;
        flex-grow: 2;
    }

    .major-story {
        flex-direction: column;
        width: 150px;
        height: 200px;
        flex-grow: 1;
    }

    .major-story img {
        width: auto;
        height: 100px;
        margin: 0;
        flex: 1;
        object-fit: cover;
    }

    .main-story img {
        width: 200px;
        height: auto;
        margin-left: auto;
        /* object-fit: cover; */
    }

    .minor-story {
        width: 150px;
    }
}

@media (max-width: 700px) {
    .content-container, .header, .navbar {
        width: 600px;
    }

#support {
    display: none;
}

#mobile-button {
    display: inline-block;
}

    .section, .section-row-1, .section-row-2  {
        flex-direction: column;
        justify-content: center;
    }

    .item-heading h2 {
        font-size: 1em;
    }

    .item-content p {
    display: flex;
    font-size: .7rem;
    }

    .main-story {
        flex-direction: column;
        width: 500px;
        height: 400px;
        flex-grow: 2;
    }

    .major-story {
        flex-direction: row;
        width: 500px;
        height: auto;
        flex-grow: 1;
    }

    .major-story .item-img {
        /* width: 50px; */
        height: auto;
        margin-right: 1rem;
        flex: .4;
        object-fit: cover;
    }

    .major-story .item-content {
        flex: 1;
        justify-content: flex-start;
    }

    .main-story img {
        width: 500px;
        height: auto;
        margin-left: auto;
        /* object-fit: cover; */
    }

    .minor-story {
        width: 500px;
    }
    }


@media (max-width: 600px) {
    .content-container, .header, .navbar {
        width: 320px;
    }

    #support {
    display: none;
    }

    #mobile-button {
    display: inline-block;
    }

    #navbar a {
        font-size: .5rem;
        padding-right: 10px;
    }

    .section, .section-row-1, .section-row-2  {
        flex-direction: column;
        /* justify-content: space-around; */
    }

    .item-heading h2 {
        font-size: 1em;
    }

    .item-content p {
    display: none;
    }

    .main-story {
        flex-direction: column;
        width: 280px;
        height: 400px;
        flex-grow: 2;
    }

    .major-story {
        flex-direction: row;
        width: 280px;
        height: auto;
        flex-grow: 1;
    }

    .major-story .item-img {
        /* width: 50px; */
        height: auto;
        margin-right: 1rem;
        flex: .4;
        object-fit: cover;
    }

    .major-story .item-content {
        flex: 1;
        justify-content: flex-start;
    }

    .main-story img {
        width: 280px;
        height: auto;
        /* margin-left: auto; */
        /* object-fit: cover; */
    }

    .minor-story {
        width: 280px;
    }
}
